IMMICH_PASSWORD=supersecret
N8N_PASSWORD=supersecret
VW_PASSWORD=supersecret
AB_PASSWORD=supersecret
FIREFLY_PASSWORD=supersecret
FIREFLY_APP_KEY=supersecret
KIMAI_PASSWORD=supersecret
LOCAL_PG_PASSWORD=supersecret
PLANE_PASSWORD=supersecret
NOCODB_PASSWORD=supersecret
DOCMOST_PASSWORD=supersecret
FORGEJO_PASSWORD=supersecret
CLOUDFLARE_API_TOKEN=supersecret

# Plane Environment Variables
SECRET_KEY=
ANALYTICS_SECRET_KEY=
RABBITMQ_HOST=plane-mq
RABBITMQ_PORT=5672
RABBITMQ_USER=plane
RABBITMQ_PASSWORD=plane
RABBITMQ_VHOST=plane
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=access-key
AWS_SECRET_ACCESS_KEY=secret-key
AWS_S3_ENDPOINT_URL="http://plane-minio:9000"
AWS_S3_BUCKET_NAME=uploads
FILE_SIZE_LIMIT=5242880
USE_MINIO=1
REDIS_HOST=redis-main
REDIS_PORT=6379
DATABASE_URL="postgres://plane_user:${PLANE_PASSWORD}@postgres-local:5432/plane"
