teleport:
  nodename: mint-mini
  data_dir: /var/lib/teleport
  log:
    output: stderr
    severity: INFO
  storage:
    type: postgresql
    conn_string: "postgres://teleport_user:${TELEPORT_DB_PASSWORD}@127.0.0.1:5432/teleport?sslmode=disable"
    audit_events_uri: ["postgresql://teleport_user:${TELEPORT_DB_PASSWORD}@127.0.0.1:5432/teleport?sslmode=disable"]
    audit_sessions_uri: "file:///var/lib/teleport/sessions"
auth_service:
  enabled: "yes"
  listen_addr: 0.0.0.0:3025
  cluster_name: tele.deeplydigital.net
  proxy_listener_mode: multiplex
ssh_service:
  enabled: "yes"
  listen_addr: 0.0.0.0:3022
proxy_service:
  enabled: "yes"
  web_listen_addr: 0.0.0.0:3080
